.home {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &-text-wrapper{
        display: flex;
        justify-content: center;

        h1 {
            color: var(--header-text-color);
            margin: 0;
            font-weight: 500;
            font-size: 8rem;
            position: relative;
            white-space: nowrap;
        }

        p {
            display: flex;
            color: #fff;
            margin-left: 0px;
            margin-bottom: 20px;
        
            font-size: 26px;
            font-family: 'Poppins', sans-serif;
            
            span {
              display: flex;
              color: #fff;
              padding-bottom: 4px;
              letter-spacing: 1px;
              border-block-end: #f87630;
            }
        }
    }
    
    .flat-button {
        color: #f87630;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid #f87630;
        margin-top: 25px;
        float: left;
        animation: fadeInAnimation 1s 1.8s backwards;
        white-space: nowrap;
    
        &:hover {
          background: #f87630;
          color: #333;
        }
      }
}

@media only screen and (max-width: 550px){
    .home-text-wrapper h1{
        font-size: 3rem;
        line-height: 5rem;
    }
}


@media only screen and (max-width: 551px) and (max-width : 768px) {
    .home-text-wrapper h1{
        font-size: 4rem;
        line-height: 6rem;
    }
}

@media only screen and (max-width: 769px) and  (max-width : 990px) {
    .home-text-wrapper h1{
        font-size: 6rem;
        line-height: 8rem;
    }
}
