@import url('https://fonts.googleapis.com/ccs2?family=Roboto+Slab:wght@500&display=swap');

:root {

  --background-theme: #022b53;
  --header-text-color: #f87630;
  --sub-text-color: #fff;
  --navbar-background-color: #181818;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background: var(--background-theme);
  height: 100%;
}

#root {
  height: 100%;
}